
#setting-error-presscore-import-the7-options .spinner {
	margin: 4px 5px 0;
}

#setting-error-presscore-import-the7-options .dt-button-primary {
	display: inline-block;
}

#setting-error-presscore-import-the7-options .dt-button-secondary {
	display: inline-block;
	margin-right: 10px;
}